.oneitem,.twoitem,.threeitem{
  font-size: 2.1rem;
}

.cont{
  font-size: 1.2rem;
}

.fouritem{
  position: relative;
  left: 4rem;
}

.headd{
  font-size: 3rem;
}

.hob{
  font-size: 2.2rem;
}

.hobby{
  height: 1100px;
}

.introduction{
  height: 1320px;
}

.my{
  font-size: 3rem;
}

.myself{
  font-size: 1.7rem;
}
